@keyframes spin {
  to {
    transform: rotate(-360deg);
  }
}

.loader {
  width: 100%;
  height: 100px;
  display: grid;
  place-content: center;

  &__animation {
    opacity: 0.5;
    width: 50px;
    height: 50px;
    animation: spin 1s ease-in-out infinite;

    &_hidden {
      display: none;
    }
  }
}