.header {
  display: flex;
  padding-bottom: 85px;
  color: $color-gray-900;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;

  @media (max-width: $screen-m) {
    padding-bottom: 45px;
    row-gap: 16px;
  }

  &__title {
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0;
    font-weight: 900;

    @media (max-width: $screen-m) {
      font-size: 34px;
    }
  }

  &__subTitle {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: uppercase;
  }
}