.more-button {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 16px;
  color: $color-gray-800;
  transition: opacity 0.5s;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &__icon {
    width: 24px;
    height: 24px;
    background-image: url("./../assets//load-more.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__label {
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0;
    font-weight: 700;
  }
}