.filter-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;

  @media (max-width: $screen-l) {
    flex-direction: column;
    row-gap: 30px;
    align-items: flex-start;
  }

  &__buttons-slot {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
  }  
}