$screen-s: 520px;
$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1280px;

$global-bg: #FFFFFF;
$color-white: #FFFFFF;
$color-gray-400: #D7DADD;
$color-gray-600: #9A9CA5;
$color-gray-700: #787A80;
$color-gray-800: #424551;
$color-gray-900: #1E212C;
$filter-active-color: #FF3F3A;
$danger: #FF4242;
$card-border-color: #E5E8ED;

$button-hover-color: #E5E8ED;

$tag-marketing-color: #03CEA4;
$tag-management-color: #5A87FC;
$tag-recruiting-color: #F89828;
$tag-design-color: #F52F6E;
$tag-development-color: #7772F1;

$border-radius-xs: 4px;

// $filter-active-border: 1px solid $filter-active-color;